In [1]:
import pandas as pd

In [2]:
df=pd.read_csv("fifa_cleaned")
df

,id,name,full_name,birth_date,age,height_cm,weight_kgs,positions,nationality,overall_rating,...,LWB,LDM,CDM,RDM,RWB,LB,LCB,CB,RCB,RB
0,158023,L. Messi,Lionel Andrés Messi Cuccittini,1987-06-24,31,170.18,72.1,"CF,RW,ST",Argentina,94,...,64+2,61+2,61+2,61+2,64+2,59+2,48+2,48+2,48+2,59+2
1,190460,C. Eriksen,Christian Dannemann Eriksen,1992-02-14,27,154.94,76.2,"CAM,RM,CM",Denmark,88,...,71+3,71+3,71+3,71+3,71+3,66+3,57+3,57+3,57+3,66+3
2,195864,P. Pogba,Paul Pogba,1993-03-15,25,190.50,83.9,"CM,CAM",France,88,...,76+3,77+3,77+3,77+3,76+3,74+3,72+3,72+3,72+3,74+3
3,198219,L. Insigne,Lorenzo Insigne,1991-06-04,27,162.56,59.0,"LW,ST",Italy,88,...,63+3,58+3,58+3,58+3,63+3,58+3,44+3,44+3,44+3,58+3
4,201024,K. Koulibaly,Kalidou Koulibaly,1991-06-20,27,187.96,88.9,CB,Senegal,88,...,73+3,77+3,77+3,77+3,73+3,76+3,85+3,85+3,85+3,76+3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17949,204322,R. McKenzie,Rory McKenzie,1993-10-07,25,175.26,74.8,"RM,CAM,CM",Scotland,67,...,53+2,52+2,52+2,52+2,53+2,50+2,46+2,46+2,46+2,50+2
17950,239762,M. Sipľak,Michal Sipľak,1996-02-02,23,182.88,79.8,LB,Slovakia,59,...,57+2,55+2,55+2,55+2,57+2,57+2,58+2,58+2,58+2,57+2
17951,235155,J. Bekkema,Jan Bekkema,1996-04-09,22,185.42,89.8,GK,Netherlands,59,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17952,244883,A. Al Yami,Abdulrahman Al Yami,1997-06-19,21,175.26,64.9,"ST,LM",Saudi Arabia,59,...,41+2,35+2,35+2,35+2,41+2,39+2,32+2,32+2,32+2,39+2
17953,247187,Júnior Brumado,José Francisco dos Santos Júnior,1999-05-15,19,190.50,79.8,ST,Brazil,59,...,41+2,40+2,40+2,40+2,41+2,40+2,40+2,40+2,40+2,40+2

In [3]:
df.head(4)

,id,name,full_name,birth_date,age,height_cm,weight_kgs,positions,nationality,overall_rating,...,LWB,LDM,CDM,RDM,RWB,LB,LCB,CB,RCB,RB
0,158023,L. Messi,Lionel Andrés Messi Cuccittini,1987-06-24,31,170.18,72.1,"CF,RW,ST",Argentina,94,...,64+2,61+2,61+2,61+2,64+2,59+2,48+2,48+2,48+2,59+2
1,190460,C. Eriksen,Christian Dannemann Eriksen,1992-02-14,27,154.94,76.2,"CAM,RM,CM",Denmark,88,...,71+3,71+3,71+3,71+3,71+3,66+3,57+3,57+3,57+3,66+3
2,195864,P. Pogba,Paul Pogba,1993-03-15,25,190.50,83.9,"CM,CAM",France,88,...,76+3,77+3,77+3,77+3,76+3,74+3,72+3,72+3,72+3,74+3
3,198219,L. Insigne,Lorenzo Insigne,1991-06-04,27,162.56,59.0,"LW,ST",Italy,88,...,63+3,58+3,58+3,58+3,63+3,58+3,44+3,44+3,44+3,58+3

In [4]:
# TO CHECK CORELATION BETWEEN COLUMNS

In [5]:
df.corr()

,id,age,height_cm,weight_kgs,overall_rating,potential,value_euro,wage_euro,international_reputation(1-5),weak_foot(1-5),...,penalties,composure,marking,standing_tackle,sliding_tackle,GK_diving,GK_handling,GK_kicking,GK_positioning,GK_reflexes
id,1.000000,-0.745789,-0.060664,-0.193974,-0.421439,0.057837,-0.142762,-0.212280,-0.362582,-0.075384,...,-0.147743,-0.386045,-0.117964,-0.086556,-0.069766,-0.103543,-0.108692,-0.105611,-0.116683,-0.103286
age,-0.745789,1.000000,0.059579,0.233819,0.461529,-0.259579,0.082360,0.152456,0.259977,0.061108,...,0.147924,0.394717,0.146725,0.118362,0.103008,0.100785,0.105334,0.104697,0.115960,0.102587
height_cm,-0.060664,0.059579,1.000000,0.495320,0.038080,0.008526,0.011144,0.021270,0.026850,-0.130464,...,-0.272134,-0.111849,-0.089783,-0.081452,-0.086093,0.295386,0.296296,0.291707,0.296131,0.296989
weight_kgs,-0.193974,0.233819,0.495320,1.000000,0.150521,-0.015099,0.044519,0.062045,0.085086,-0.128875,...,-0.251453,-0.044538,-0.057559,-0.056318,-0.065965,0.342368,0.341784,0.339684,0.343853,0.343440
overall_rating,-0.421439,0.461529,0.038080,0.150521,1.000000,0.647249,0.630928,0.577316,0.489416,0.216394,...,0.350902,0.729278,0.292538,0.254481,0.225466,-0.030501,-0.029850,-0.032884,-0.021115,-0.027478
potential,0.057837,-0.259579,0.008526,-0.015099,0.647249,1.000000,0.576341,0.484029,0.358874,0.167735,...,0.226746,0.434113,0.162999,0.143927,0.129755,-0.060147,-0.060974,-0.064471,-0.058313,-0.058856
value_euro,-0.142762,0.082360,0.011144,0.044519,0.630928,0.576341,1.000000,0.856466,0.644610,0.167784,...,0.243599,0.456538,0.138085,0.110455,0.090450,-0.028961,-0.029126,-0.030189,-0.027929,-0.028677
wage_euro,-0.212280,0.152456,0.021270,0.062045,0.577316,0.484029,0.856466,1.000000,0.668611,0.146115,...,0.230613,0.428591,0.150980,0.128554,0.114025,-0.029940,-0.029327,-0.031484,-0.029212,-0.030070
international_reputation(1-5),-0.362582,0.259977,0.026850,0.085086,0.489416,0.358874,0.644610,0.668611,1.000000,0.126238,...,0.220608,0.388906,0.115318,0.089809,0.077267,0.001573,0.001501,-0.001422,0.004486,0.000769
weak_foot(1-5),-0.075384,0.061108,-0.130464,-0.128875,0.216394,0.167735,0.167784,0.146115,0.126238,1.000000,...,0.337573,0.285560,0.067002,0.045716,0.027845,-0.237958,-0.238646,-0.235450,-0.236080,-0.238725
skill_moves(1-5),-0.056325,0.029681,-0.320141,-0.353601,0.418718,0.356241,0.317427,0.269476,0.205661,0.345284,...,0.695889,0.598595,0.255601,0.225532,0.193438,-0.626246,-0.625743,-0.621980,-0.623727,-0.627320
release_clause_euro,-0.126422,0.064120,0.011440,0.037207,0.614804,0.583649,0.994318,0.856239,0.632293,0.160492,...,0.234825,0.442664,0.137711,0.114437,0.094969,-0.028529,-0.028691,-0.029458,-0.027214,-0.028336
club_rating,-0.089428,0.022919,0.034744,0.063224,0.612173,0.680011,0.540529,0.548232,0.418099,0.103861,...,0.170726,0.392914,0.153600,0.144671,0.137616,0.030083,0.030816,0.026895,0.033380,0.032271
club_jersey_number,0.182060,-0.241511,-0.025676,-0.084709,-0.210828,0.002259,-0.086939,-0.082794,-0.063562,-0.037051,...,-0.034004,-0.166035,-0.139385,-0.125547,-0.116867,0.004666,0.002876,0.001792,-0.001528,0.005053
national_rating,-0.113318,0.026075,0.090491,0.066107,0.733395,0.665328,0.586039,0.529775,0.528761,0.127759,...,0.185834,0.476967,0.157044,0.135704,0.133393,-0.005552,0.001064,0.002481,0.000488,-0.007370
national_jersey_number,0.107566,-0.122977,-0.067071,-0.095061,-0.104753,-0.026349,-0.088824,-0.111516,-0.144595,0.069825,...,0.057152,-0.035969,-0.092402,-0.083251,-0.086603,-0.057928,-0.068642,-0.078367,-0.067826,-0.055637
crossing,-0.132995,0.133357,-0.388805,-0.394145,0.398343,0.244438,0.251093,0.238856,0.191443,0.311639,...,0.655166,0.589726,0.457401,0.440578,0.422407,-0.670197,-0.667971,-0.666225,-0.667231,-0.669792
finishing,-0.086259,0.074761,-0.296794,-0.294710,0.342331,0.247552,0.261003,0.224953,0.179789,0.369663,...,0.840504,0.550520,0.042058,-0.013427,-0.051432,-0.594444,-0.593377,-0.589002,-0.590215,-0.592615
heading_accuracy,-0.112367,0.151723,-0.043058,0.027698,0.347670,0.204059,0.188190,0.193482,0.157662,0.192346,...,0.562135,0.525578,0.593140,0.573015,0.546457,-0.756583,-0.755364,-0.752881,-0.750169,-0.754320
short_passing,-0.139352,0.137151,-0.290321,-0.291826,0.506819,0.368106,0.329467,0.302788,0.239648,0.328766,...,0.684783,0.701341,0.570187,0.548907,0.516761,-0.734842,-0.733340,-0.729100,-0.728946,-0.733512
volleys,-0.162162,0.147752,-0.279702,-0.263662,0.396922,0.255954,0.291412,0.264457,0.244224,0.365288,...,0.834263,0.607048,0.135570,0.087770,0.050640,-0.597400,-0.596051,-0.591814,-0.592844,-0.595576
dribbling,-0.032953,0.016334,-0.382181,-0.414172,0.378718,0.315429,0.273006,0.241887,0.177511,0.358811,...,0.773293,0.613821,0.353333,0.319579,0.292289,-0.761008,-0.759805,-0.756051,-0.757480,-0.760733
curve,-0.169884,0.147628,-0.345927,-0.347161,0.423890,0.278243,0.289540,0.266848,0.233649,0.350361,...,0.756822,0.628644,0.303799,0.274250,0.245991,-0.612774,-0.610232,-0.606753,-0.609906,-0.611284
freekick_accuracy,-0.201446,0.196003,-0.316407,-0.305299,0.400878,0.230355,0.268270,0.244442,0.225098,0.333575,...,0.740312,0.595693,0.310731,0.289089,0.258011,-0.562096,-0.559910,-0.555905,-0.559075,-0.561057
long_passing,-0.190822,0.185018,-0.262813,-0.260840,0.489998,0.322550,0.306941,0.285836,0.238668,0.284415,...,0.554439,0.661651,0.598377,0.593464,0.568594,-0.603722,-0.602635,-0.598216,-0.599067,-0.602949
ball_control,-0.104260,0.091552,-0.328643,-0.339170,0.464336,0.350662,0.309655,0.282603,0.215327,0.361850,...,0.775064,0.690473,0.466214,0.430959,0.398561,-0.792514,-0.791331,-0.787230,-0.787446,-0.791940
acceleration,0.134519,-0.151665,-0.406415,-0.481583,0.204853,0.239457,0.174608,0.130845,0.044406,0.271201,...,0.544564,0.368932,0.219448,0.188590,0.181914,-0.611743,-0.613565,-0.611087,-0.610381,-0.612223
sprint_speed,0.132401,-0.144265,-0.350074,-0.413238,0.218443,0.241553,0.176703,0.135497,0.044406,0.259304,...,0.532827,0.374009,0.237201,0.205451,0.198554,-0.617372,-0.619401,-0.616943,-0.615819,-0.617764
agility,-0.019936,-0.013177,-0.438373,-0.533050,0.275260,0.225621,0.199008,0.163275,0.102007,0.307745,...,0.573341,0.450707,0.186985,0.149145,0.135962,-0.537312,-0.538882,-0.536719,-0.537039,-0.539058
reactions,-0.413291,0.463421,-0.020000,0.082796,0.855767,0.505011,0.547615,0.505064,0.439608,0.204268,...,0.356345,0.690894,0.295360,0.262879,0.235992,-0.071615,-0.070880,-0.073803,-0.062731,-0.067835
balance,0.046457,-0.083610,-0.532396,-0.663188,0.114667,0.143429,0.118869,0.095289,0.052193,0.256487,...,0.490804,0.331708,0.197370,0.172736,0.170060,-0.513917,-0.515410,-0.512532,-0.512470,-0.515448
shot_power,-0.167609,0.158875,-0.239960,-0.198428,0.445306,0.289157,0.284693,0.265378,0.225908,0.341420,...,0.799445,0.645533,0.309979,0.269590,0.234120,-0.658909,-0.658784,-0.654364,-0.655586,-0.657944
jumping,-0.174009,0.183816,-0.052169,0.005741,0.271008,0.106849,0.128507,0.134693,0.122657,0.071491,...,0.141195,0.261278,0.290396,0.272198,0.271687,-0.201079,-0.201403,-0.203212,-0.196807,-0.199361
stamina,-0.056292,0.103804,-0.254794,-0.232554,0.368749,0.199151,0.216471,0.185396,0.092467,0.241490,...,0.533505,0.541032,0.602414,0.583755,0.558238,-0.716231,-0.714262,-0.711182,-0.710596,-0.715156
strength,-0.268964,0.339671,0.318769,0.610431,0.360725,0.077918,0.138230,0.147544,0.133690,-0.003609,...,0.067912,0.290600,0.338157,0.335586,0.307896,-0.113762,-0.112440,-0.113914,-0.105768,-0.110123
long_shots,-0.168315,0.164655,-0.305601,-0.278552,0.429458,0.265326,0.284085,0.257050,0.214299,0.365599,...,0.814800,0.631092,0.232644,0.188789,0.150900,-0.616732,-0.615570,-0.610541,-0.611450,-0.614397
aggression,-0.230897,0.264859,-0.073996,0.021926,0.397072,0.170005,0.189101,0.200645,0.172931,0.137035,...,0.352402,0.529780,0.729119,0.747055,0.724188,-0.588397,-0.587670,-0.585741,-0.582978,-0.587690
interceptions,-0.162067,0.198131,-0.078730,-0.034607,0.322030,0.151946,0.142375,0.160140,0.126500,0.056744,...,0.126156,0.410590,0.895607,0.943150,0.930522,-0.495627,-0.495527,-0.495139,-0.490535,-0.495643
positioning,-0.090011,0.085510,-0.353380,-0.355281,0.362116,0.247677,0.262596,0.233461,0.182556,0.355326,...,0.805589,0.595120,0.220465,0.177401,0.144466,-0.686602,-0.685024,-0.681129,-0.682433,-0.685469
vision,-0.216429,0.193201,-0.287254,-0.282234,0.506812,0.348179,0.363445,0.325331,0.283890,0.343684,...,0.636811,0.645110,0.188888,0.155441,0.122188,-0.384880,-0.381374,-0.376979,-0.378970,-0.383633
penalties,-0.147743,0.147924,-0.272134,-0.251453,0.350902,0.226746,0.243599,0.230613,0.220608,0.337573,...,1.000000,0.569526,0.168688,0.118709,0.084269,-0.625056,-0.624202,-0.619048,-0.621881,-0.623655
composure,-0.386045,0.394717,-0.111849,-0.044538,0.729278,0.434113,0.456538,0.428591,0.388906,0.285560,...,0.569526,1.000000,0.403868,0.366861,0.332588,-0.399369,-0.396236,-0.394877,-0.389258,-0.397623
marking,-0.117964,0.146725,-0.089783,-0.057559,0.292538,0.162999,0.138085,0.150980,0.115318,0.067002,...,0.168688,0.403868,1.000000,0.911632,0.901460,-0.559166,-0.559859,-0.558036,-0.554668,-0.559810
standing_tackle,-0.086556,0.118362,-0.081452,-0.056318,0.254481,0.143927,0.110455,0.128554,0.089809,0.045716,...,0.118709,0.366861,0.911632,1.000000,0.975138,-0.541943,-0.542229,-0.541971,-0.537984,-0.542599
sliding_tackle,-0.069766,0.103008,-0.086093,-0.065965,0.225466,0.129755,0.090450,0.114025,0.077267,0.027845,...,0.084269,0.332588,0.901460,0.975138,1.000000,-0.520881,-0.521098,-0.520939,-0.516643,-0.521105
GK_diving,-0.103543,0.100785,0.295386,0.342368,-0.030501,-0.060147,-0.028961,-0.029940,0.001573,-0.237958,...,-0.625056,-0.399369,-0.559166,-0.541943,-0.520881,1.000000,0.971103,0.966983,0.970662,0.974057
GK_handling,-0.108692,0.105334,0.296296,0.341784,-0.029850,-0.060974,-0.029126,-0.029327,0.001501,-0.238646,...,-0.624202,-0.396236,-0.559859,-0.542229,-0.521098,0.971103,1.000000,0.966523,0.969991,0.971087
GK_kicking,-0.105611,0.104697,0.291707,0.339684,-0.032884,-0.064471,-0.030189,-0.031484,-0.001422,-0.235450,...,-0.619048,-0.394877,-0.558036,-0.541971,-0.520939,0.966983,0.966523,1.000000,0.965647,0.967480
GK_positioning,-0.116683,0.115960,0.296131,0.343853,-0.021115,-0.058313,-0.027929,-0.029212,0.004486,-0.236080,...,-0.621881,-0.389258,-0.554668,-0.537984,-0.516643,0.970662,0.969991,0.965647,1.000000,0.970906
GK_reflexes,-0.103286,0.102587,0.296989,0.343440,-0.027478,-0.058856,-0.028677,-0.030070,0.000769,-0.238725,...,-0.623655,-0.397623,-0.559810,-0.542599,-0.521105,0.974057,0.971087,0.967480,0.970906,1.000000

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17954 entries, 0 to 17953
Data columns (total 92 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   id                             17954 non-null  int64
 1   name                           17954 non-null  object
 2   full_name                      17954 non-null  object
 3   birth_date                     17954 non-null  object
 4   age                            17954 non-null  int64
 5   height_cm                      17954 non-null  float64
 6   weight_kgs                     17954 non-null  float64
 7   positions                      17954 non-null  object
 8   nationality                    17954 non-null  object
 9   overall_rating                 17954 non-null  int64
 10  potential                      17954 non-null  int64
 11  value_euro                     17699 non-null  float64
 12  wage_euro                      17708 non-null  float64
 13  preferred_foot                 17954 non-null  object
 14  international_reputation(1-5)  17954 non-null  int64
 15  weak_foot(1-5)                 17954 non-null  int64
 16  skill_moves(1-5)               17954 non-null  int64
 17  work_rate                      17954 non-null  object
 18  body_type                      17954 non-null  object
 19  release_clause_euro            16117 non-null  float64
 20  club_team                      17940 non-null  object
 21  club_rating                    17940 non-null  float64
 22  club_position                  17940 non-null  object
 23  club_jersey_number             17940 non-null  float64
 24  club_join_date                 16018 non-null  object
 25  contract_end_year              17593 non-null  object
 26  national_team                  857 non-null    object
 27  national_rating                857 non-null    float64
 28  national_team_position         857 non-null    object
 29  national_jersey_number         857 non-null    float64
 30  crossing                       17954 non-null  int64
 31  finishing                      17954 non-null  int64
 32  heading_accuracy               17954 non-null  int64
 33  short_passing                  17954 non-null  int64
 34  volleys                        17954 non-null  int64
 35  dribbling                      17954 non-null  int64
 36  curve                          17954 non-null  int64
 37  freekick_accuracy              17954 non-null  int64
 38  long_passing                   17954 non-null  int64
 39  ball_control                   17954 non-null  int64
 40  acceleration                   17954 non-null  int64
 41  sprint_speed                   17954 non-null  int64
 42  agility                        17954 non-null  int64
 43  reactions                      17954 non-null  int64
 44  balance                        17954 non-null  int64
 45  shot_power                     17954 non-null  int64
 46  jumping                        17954 non-null  int64
 47  stamina                        17954 non-null  int64
 48  strength                       17954 non-null  int64
 49  long_shots                     17954 non-null  int64
 50  aggression                     17954 non-null  int64
 51  interceptions                  17954 non-null  int64
 52  positioning                    17954 non-null  int64
 53  vision                         17954 non-null  int64
 54  penalties                      17954 non-null  int64
 55  composure                      17954 non-null  int64
 56  marking                        17954 non-null  int64
 57  standing_tackle                17954 non-null  int64
 58  sliding_tackle                 17954 non-null  int64
 59  GK_diving                      17954 non-null  int64
 60  GK_handling                    17954 non-null  int64
 61  GK_kicking                     17954 non-null  int64
 62  GK_positioning                 17954 non-null  int64
 63  GK_reflexes                    17954 non-null  int64
 64  tags                           1417 non-null   object
 65  traits                         8137 non-null   object
 66  LS                             15889 non-null  object
 67  ST                             15889 non-null  object
 68  RS                             15889 non-null  object
 69  LW                             15889 non-null  object
 70  LF                             15889 non-null  object
 71  CF                             15889 non-null  object
 72  RF                             15889 non-null  object
 73  RW                             15889 non-null  object
 74  LAM                            15889 non-null  object
 75  CAM                            15889 non-null  object
 76  RAM                            15889 non-null  object
 77  LM                             15889 non-null  object
 78  LCM                            15889 non-null  object
 79  CM                             15889 non-null  object
 80  RCM                            15889 non-null  object
 81  RM                             15889 non-null  object
 82  LWB                            15889 non-null  object
 83  LDM                            15889 non-null  object
 84  CDM                            15889 non-null  object
 85  RDM                            15889 non-null  object
 86  RWB                            15889 non-null  object
 87  LB                             15889 non-null  object
 88  LCB                            15889 non-null  object
 89  CB                             15889 non-null  object
 90  RCB                            15889 non-null  object
 91  RB                             15889 non-null  object
dtypes: float64(9), int64(41), object(42)
memory usage: 12.6+ MB

In [7]:
df.drop_duplicates()

,id,name,full_name,birth_date,age,height_cm,weight_kgs,positions,nationality,overall_rating,...,LWB,LDM,CDM,RDM,RWB,LB,LCB,CB,RCB,RB
0,158023,L. Messi,Lionel Andrés Messi Cuccittini,1987-06-24,31,170.18,72.1,"CF,RW,ST",Argentina,94,...,64+2,61+2,61+2,61+2,64+2,59+2,48+2,48+2,48+2,59+2
1,190460,C. Eriksen,Christian Dannemann Eriksen,1992-02-14,27,154.94,76.2,"CAM,RM,CM",Denmark,88,...,71+3,71+3,71+3,71+3,71+3,66+3,57+3,57+3,57+3,66+3
2,195864,P. Pogba,Paul Pogba,1993-03-15,25,190.50,83.9,"CM,CAM",France,88,...,76+3,77+3,77+3,77+3,76+3,74+3,72+3,72+3,72+3,74+3
3,198219,L. Insigne,Lorenzo Insigne,1991-06-04,27,162.56,59.0,"LW,ST",Italy,88,...,63+3,58+3,58+3,58+3,63+3,58+3,44+3,44+3,44+3,58+3
4,201024,K. Koulibaly,Kalidou Koulibaly,1991-06-20,27,187.96,88.9,CB,Senegal,88,...,73+3,77+3,77+3,77+3,73+3,76+3,85+3,85+3,85+3,76+3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17949,204322,R. McKenzie,Rory McKenzie,1993-10-07,25,175.26,74.8,"RM,CAM,CM",Scotland,67,...,53+2,52+2,52+2,52+2,53+2,50+2,46+2,46+2,46+2,50+2
17950,239762,M. Sipľak,Michal Sipľak,1996-02-02,23,182.88,79.8,LB,Slovakia,59,...,57+2,55+2,55+2,55+2,57+2,57+2,58+2,58+2,58+2,57+2
17951,235155,J. Bekkema,Jan Bekkema,1996-04-09,22,185.42,89.8,GK,Netherlands,59,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17952,244883,A. Al Yami,Abdulrahman Al Yami,1997-06-19,21,175.26,64.9,"ST,LM",Saudi Arabia,59,...,41+2,35+2,35+2,35+2,41+2,39+2,32+2,32+2,32+2,39+2
17953,247187,Júnior Brumado,José Francisco dos Santos Júnior,1999-05-15,19,190.50,79.8,ST,Brazil,59,...,41+2,40+2,40+2,40+2,41+2,40+2,40+2,40+2,40+2,40+2

In [8]:
df.isnull().sum()

id               0
name             0
full_name        0
birth_date       0
age              0
              ...
LB            2065
LCB           2065
CB            2065
RCB           2065
RB            2065
Length: 92, dtype: int64

In [9]:
df.describe()

,id,age,height_cm,weight_kgs,overall_rating,potential,value_euro,wage_euro,international_reputation(1-5),weak_foot(1-5),...,penalties,composure,marking,standing_tackle,sliding_tackle,GK_diving,GK_handling,GK_kicking,GK_positioning,GK_reflexes
count,17954.000000,17954.000000,17954.000000,17954.000000,17954.000000,17954.000000,1.769900e+04,17708.000000,17954.000000,17954.000000,...,17954.000000,17954.000000,17954.000000,17954.000000,17954.000000,17954.000000,17954.000000,17954.000000,17954.000000,17954.000000
mean,215411.087780,25.565445,174.946921,75.301047,66.240169,71.430935,2.479280e+06,9902.134628,1.111674,2.945695,...,48.357302,58.680183,47.162861,47.733040,45.705915,16.784449,16.556199,16.388660,16.541049,16.874067
std,29758.387106,4.705708,14.029449,7.083684,6.963730,6.131339,5.687014e+06,21995.593750,0.392168,0.663691,...,15.810844,11.625541,20.037346,21.674973,21.285812,17.893895,17.108234,16.701447,17.231495,18.182943
min,16.000000,17.000000,152.400000,49.900000,47.000000,48.000000,1.000000e+04,1000.000000,1.000000,1.000000,...,5.000000,12.000000,3.000000,2.000000,3.000000,1.000000,1.000000,1.000000,1.000000,1.000000
25%,201117.250000,22.000000,154.940000,69.900000,62.000000,67.000000,3.250000e+05,1000.000000,1.000000,3.000000,...,38.000000,51.000000,30.000000,27.000000,24.000000,8.000000,8.000000,8.000000,8.000000,8.000000
50%,222919.000000,25.000000,175.260000,74.800000,66.000000,71.000000,7.000000e+05,3000.000000,1.000000,3.000000,...,49.000000,60.000000,52.500000,55.000000,52.000000,11.000000,11.000000,11.000000,11.000000,11.000000
75%,237613.500000,29.000000,185.420000,79.800000,71.000000,75.000000,2.100000e+06,9000.000000,1.000000,3.000000,...,60.000000,67.000000,64.000000,66.000000,64.000000,14.000000,14.000000,14.000000,14.000000,14.000000
max,247607.000000,46.000000,205.740000,110.200000,94.000000,95.000000,1.105000e+08,565000.000000,5.000000,5.000000,...,92.000000,96.000000,94.000000,93.000000,90.000000,90.000000,92.000000,92.000000,90.000000,94.000000

In [10]:
df['LWB'].isnull().sum()

2065

In [11]:
df['LWB']

0        64+2
1        71+3
2        76+3
3        63+3
4        73+3
         ...
17949    53+2
17950    57+2
17951     NaN
17952    41+2
17953    41+2
Name: LWB, Length: 17954, dtype: object

In [12]:
from tqdm import tqdm
for i in tqdm(range(len(df))):
    if type(df['LWB'][i]) != float:
        a = df['LWB'][i].split('+')
        sums = 0
        for j in a:
            sums = sums + int(j)
        df['LWB'][i] = sums

  0%|                                                                                        | 0/17954 [00:00<?, ?it/s]C:\Users\khany\AppData\Local\Temp\ipykernel_15712\3288096593.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['LWB'][i] = sums
100%|███████████████████████████████████████████████████████████████████████████| 17954/17954 [00:21<00:00, 830.27it/s]

In [13]:
from tqdm import tqdm
for i in tqdm(range(len(df))):
    if type(df['LDM'][i]) != float:
        a = df['LDM'][i].split('+')
        sums = 0
        for j in a:
            sums = sums + int(j)
        df['LDM'][i] = sums

  0%|                                                                                        | 0/17954 [00:00<?, ?it/s]C:\Users\khany\AppData\Local\Temp\ipykernel_15712\951209320.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['LDM'][i] = sums
100%|███████████████████████████████████████████████████████████████████████████| 17954/17954 [00:20<00:00, 892.58it/s]

In [14]:
from tqdm import tqdm
for i in tqdm(range(len(df))):
    if type(df['CDM'][i]) != float:
        a = df['CDM'][i].split('+')
        sums = 0
        for j in a:
            sums = sums + int(j)
        df['CDM'][i] = sums

  0%|                                                                                        | 0/17954 [00:00<?, ?it/s]C:\Users\khany\AppData\Local\Temp\ipykernel_15712\4028771779.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['CDM'][i] = sums
100%|███████████████████████████████████████████████████████████████████████████| 17954/17954 [00:20<00:00, 882.40it/s]

In [15]:
from tqdm import tqdm
for i in tqdm(range(len(df))):
    if type(df['RDM'][i]) != float:
        a = df['RDM'][i].split('+')
        sums = 0
        for j in a:
            sums = sums + int(j)
        df['RDM'][i] = sums

  0%|                                                                                        | 0/17954 [00:00<?, ?it/s]C:\Users\khany\AppData\Local\Temp\ipykernel_15712\1295650207.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['RDM'][i] = sums
100%|███████████████████████████████████████████████████████████████████████████| 17954/17954 [00:19<00:00, 906.20it/s]

In [16]:
from tqdm import tqdm
for i in tqdm(range(len(df))):
    if type(df['RWB'][i]) != float:
        a = df['RWB'][i].split('+')
        sums = 0
        for j in a:
            sums = sums + int(j)
        df['RWB'][i] = sums

  0%|                                                                                        | 0/17954 [00:00<?, ?it/s]C:\Users\khany\AppData\Local\Temp\ipykernel_15712\305863646.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['RWB'][i] = sums
100%|███████████████████████████████████████████████████████████████████████████| 17954/17954 [00:19<00:00, 927.57it/s]

In [17]:
from tqdm import tqdm
for i in tqdm(range(len(df))):
    if type(df['LB'][i]) != float:
        a = df['LB'][i].split('+')
        sums = 0
        for j in a:
            sums = sums + int(j)
        df['LB'][i] = sums

  0%|                                                                                        | 0/17954 [00:00<?, ?it/s]C:\Users\khany\AppData\Local\Temp\ipykernel_15712\2453403288.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['LB'][i] = sums
100%|███████████████████████████████████████████████████████████████████████████| 17954/17954 [00:21<00:00, 845.79it/s]

In [18]:
from tqdm import tqdm
for i in tqdm(range(len(df))):
    if type(df['LCB'][i]) != float:
        a = df['LCB'][i].split('+')
        sums = 0
        for j in a:
            sums = sums + int(j)
        df['LCB'][i] = sums

  0%|                                                                                        | 0/17954 [00:00<?, ?it/s]C:\Users\khany\AppData\Local\Temp\ipykernel_15712\1419340057.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['LCB'][i] = sums
100%|███████████████████████████████████████████████████████████████████████████| 17954/17954 [00:23<00:00, 768.10it/s]

In [19]:
from tqdm import tqdm
for i in tqdm(range(len(df))):
    if type(df['CB'][i]) != float:
        a = df['CB'][i].split('+')
        sums = 0
        for j in a:
            sums = sums + int(j)
        df['CB'][i] = sums

  0%|                                                                                        | 0/17954 [00:00<?, ?it/s]C:\Users\khany\AppData\Local\Temp\ipykernel_15712\639601875.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['CB'][i] = sums
100%|███████████████████████████████████████████████████████████████████████████| 17954/17954 [00:21<00:00, 818.24it/s]

In [20]:
from tqdm import tqdm
for i in tqdm(range(len(df))):
    if type(df['RCB'][i]) != float:
        a = df['RCB'][i].split('+')
        sums = 0
        for j in a:
            sums = sums + int(j)
        df['RCB'][i] = sums

  0%|                                                                                        | 0/17954 [00:00<?, ?it/s]C:\Users\khany\AppData\Local\Temp\ipykernel_15712\15480330.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['RCB'][i] = sums
100%|███████████████████████████████████████████████████████████████████████████| 17954/17954 [00:20<00:00, 858.48it/s]

In [21]:
from tqdm import tqdm
for i in tqdm(range(len(df))):
    if type(df['RB'][i]) != float:
        a = df['RB'][i].split('+')
        sums = 0
        for j in a:
            sums = sums + int(j)
        df['RB'][i] = sums

  0%|                                                                                        | 0/17954 [00:00<?, ?it/s]C:\Users\khany\AppData\Local\Temp\ipykernel_15712\3288450078.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['RB'][i] = sums
100%|███████████████████████████████████████████████████████████████████████████| 17954/17954 [00:22<00:00, 807.93it/s]

In [22]:
df

,id,name,full_name,birth_date,age,height_cm,weight_kgs,positions,nationality,overall_rating,...,LWB,LDM,CDM,RDM,RWB,LB,LCB,CB,RCB,RB
0,158023,L. Messi,Lionel Andrés Messi Cuccittini,1987-06-24,31,170.18,72.1,"CF,RW,ST",Argentina,94,...,66,63,63,63,66,61,50,50,50,61
1,190460,C. Eriksen,Christian Dannemann Eriksen,1992-02-14,27,154.94,76.2,"CAM,RM,CM",Denmark,88,...,74,74,74,74,74,69,60,60,60,69
2,195864,P. Pogba,Paul Pogba,1993-03-15,25,190.50,83.9,"CM,CAM",France,88,...,79,80,80,80,79,77,75,75,75,77
3,198219,L. Insigne,Lorenzo Insigne,1991-06-04,27,162.56,59.0,"LW,ST",Italy,88,...,66,61,61,61,66,61,47,47,47,61
4,201024,K. Koulibaly,Kalidou Koulibaly,1991-06-20,27,187.96,88.9,CB,Senegal,88,...,76,80,80,80,76,79,88,88,88,79
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17949,204322,R. McKenzie,Rory McKenzie,1993-10-07,25,175.26,74.8,"RM,CAM,CM",Scotland,67,...,55,54,54,54,55,52,48,48,48,52
17950,239762,M. Sipľak,Michal Sipľak,1996-02-02,23,182.88,79.8,LB,Slovakia,59,...,59,57,57,57,59,59,60,60,60,59
17951,235155,J. Bekkema,Jan Bekkema,1996-04-09,22,185.42,89.8,GK,Netherlands,59,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17952,244883,A. Al Yami,Abdulrahman Al Yami,1997-06-19,21,175.26,64.9,"ST,LM",Saudi Arabia,59,...,43,37,37,37,43,41,34,34,34,41
17953,247187,Júnior Brumado,José Francisco dos Santos Júnior,1999-05-15,19,190.50,79.8,ST,Brazil,59,...,43,42,42,42,43,42,42,42,42,42

In [23]:
df=df.drop_duplicates()
df

,id,name,full_name,birth_date,age,height_cm,weight_kgs,positions,nationality,overall_rating,...,LWB,LDM,CDM,RDM,RWB,LB,LCB,CB,RCB,RB
0,158023,L. Messi,Lionel Andrés Messi Cuccittini,1987-06-24,31,170.18,72.1,"CF,RW,ST",Argentina,94,...,66,63,63,63,66,61,50,50,50,61
1,190460,C. Eriksen,Christian Dannemann Eriksen,1992-02-14,27,154.94,76.2,"CAM,RM,CM",Denmark,88,...,74,74,74,74,74,69,60,60,60,69
2,195864,P. Pogba,Paul Pogba,1993-03-15,25,190.50,83.9,"CM,CAM",France,88,...,79,80,80,80,79,77,75,75,75,77
3,198219,L. Insigne,Lorenzo Insigne,1991-06-04,27,162.56,59.0,"LW,ST",Italy,88,...,66,61,61,61,66,61,47,47,47,61
4,201024,K. Koulibaly,Kalidou Koulibaly,1991-06-20,27,187.96,88.9,CB,Senegal,88,...,76,80,80,80,76,79,88,88,88,79
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17949,204322,R. McKenzie,Rory McKenzie,1993-10-07,25,175.26,74.8,"RM,CAM,CM",Scotland,67,...,55,54,54,54,55,52,48,48,48,52
17950,239762,M. Sipľak,Michal Sipľak,1996-02-02,23,182.88,79.8,LB,Slovakia,59,...,59,57,57,57,59,59,60,60,60,59
17951,235155,J. Bekkema,Jan Bekkema,1996-04-09,22,185.42,89.8,GK,Netherlands,59,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17952,244883,A. Al Yami,Abdulrahman Al Yami,1997-06-19,21,175.26,64.9,"ST,LM",Saudi Arabia,59,...,43,37,37,37,43,41,34,34,34,41
17953,247187,Júnior Brumado,José Francisco dos Santos Júnior,1999-05-15,19,190.50,79.8,ST,Brazil,59,...,43,42,42,42,43,42,42,42,42,42

In [24]:
# To check nan values

In [25]:
a = df.isna().sum()

print(a)

id               0
name             0
full_name        0
birth_date       0
age              0
              ...
LB            2065
LCB           2065
CB            2065
RCB           2065
RB            2065
Length: 92, dtype: int64

In [26]:

df

,id,name,full_name,birth_date,age,height_cm,weight_kgs,positions,nationality,overall_rating,...,LWB,LDM,CDM,RDM,RWB,LB,LCB,CB,RCB,RB
0,158023,L. Messi,Lionel Andrés Messi Cuccittini,1987-06-24,31,170.18,72.1,"CF,RW,ST",Argentina,94,...,66,63,63,63,66,61,50,50,50,61
1,190460,C. Eriksen,Christian Dannemann Eriksen,1992-02-14,27,154.94,76.2,"CAM,RM,CM",Denmark,88,...,74,74,74,74,74,69,60,60,60,69
2,195864,P. Pogba,Paul Pogba,1993-03-15,25,190.50,83.9,"CM,CAM",France,88,...,79,80,80,80,79,77,75,75,75,77
3,198219,L. Insigne,Lorenzo Insigne,1991-06-04,27,162.56,59.0,"LW,ST",Italy,88,...,66,61,61,61,66,61,47,47,47,61
4,201024,K. Koulibaly,Kalidou Koulibaly,1991-06-20,27,187.96,88.9,CB,Senegal,88,...,76,80,80,80,76,79,88,88,88,79
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17949,204322,R. McKenzie,Rory McKenzie,1993-10-07,25,175.26,74.8,"RM,CAM,CM",Scotland,67,...,55,54,54,54,55,52,48,48,48,52
17950,239762,M. Sipľak,Michal Sipľak,1996-02-02,23,182.88,79.8,LB,Slovakia,59,...,59,57,57,57,59,59,60,60,60,59
17951,235155,J. Bekkema,Jan Bekkema,1996-04-09,22,185.42,89.8,GK,Netherlands,59,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17952,244883,A. Al Yami,Abdulrahman Al Yami,1997-06-19,21,175.26,64.9,"ST,LM",Saudi Arabia,59,...,43,37,37,37,43,41,34,34,34,41
17953,247187,Júnior Brumado,José Francisco dos Santos Júnior,1999-05-15,19,190.50,79.8,ST,Brazil,59,...,43,42,42,42,43,42,42,42,42,42

In [27]:
df['name'].nunique()

16995

In [28]:
df.columns

Index(['id', 'name', 'full_name', 'birth_date', 'age', 'height_cm',
       'weight_kgs', 'positions', 'nationality', 'overall_rating', 'potential',
       'value_euro', 'wage_euro', 'preferred_foot',
       'international_reputation(1-5)', 'weak_foot(1-5)', 'skill_moves(1-5)',
       'work_rate', 'body_type', 'release_clause_euro', 'club_team',
       'club_rating', 'club_position', 'club_jersey_number', 'club_join_date',
       'contract_end_year', 'national_team', 'national_rating',
       'national_team_position', 'national_jersey_number', 'crossing',
       'finishing', 'heading_accuracy', 'short_passing', 'volleys',
       'dribbling', 'curve', 'freekick_accuracy', 'long_passing',
       'ball_control', 'acceleration', 'sprint_speed', 'agility', 'reactions',
       'balance', 'shot_power', 'jumping', 'stamina', 'strength', 'long_shots',
       'aggression', 'interceptions', 'positioning', 'vision', 'penalties',
       'composure', 'marking', 'standing_tackle', 'sliding_tackle',
       'GK_diving', 'GK_handling', 'GK_kicking', 'GK_positioning',
       'GK_reflexes', 'tags', 'traits', 'LS', 'ST', 'RS', 'LW', 'LF', 'CF',
       'RF', 'RW', 'LAM', 'CAM', 'RAM', 'LM', 'LCM', 'CM', 'RCM', 'RM', 'LWB',
       'LDM', 'CDM', 'RDM', 'RWB', 'LB', 'LCB', 'CB', 'RCB', 'RB'],
      dtype='object')

In [29]:
df.drop(['id','name','full_name','birth_date'], axis=1,inplace=True)

In [30]:
df.columns

Index(['age', 'height_cm', 'weight_kgs', 'positions', 'nationality',
       'overall_rating', 'potential', 'value_euro', 'wage_euro',
       'preferred_foot', 'international_reputation(1-5)', 'weak_foot(1-5)',
       'skill_moves(1-5)', 'work_rate', 'body_type', 'release_clause_euro',
       'club_team', 'club_rating', 'club_position', 'club_jersey_number',
       'club_join_date', 'contract_end_year', 'national_team',
       'national_rating', 'national_team_position', 'national_jersey_number',
       'crossing', 'finishing', 'heading_accuracy', 'short_passing', 'volleys',
       'dribbling', 'curve', 'freekick_accuracy', 'long_passing',
       'ball_control', 'acceleration', 'sprint_speed', 'agility', 'reactions',
       'balance', 'shot_power', 'jumping', 'stamina', 'strength', 'long_shots',
       'aggression', 'interceptions', 'positioning', 'vision', 'penalties',
       'composure', 'marking', 'standing_tackle', 'sliding_tackle',
       'GK_diving', 'GK_handling', 'GK_kicking', 'GK_positioning',
       'GK_reflexes', 'tags', 'traits', 'LS', 'ST', 'RS', 'LW', 'LF', 'CF',
       'RF', 'RW', 'LAM', 'CAM', 'RAM', 'LM', 'LCM', 'CM', 'RCM', 'RM', 'LWB',
       'LDM', 'CDM', 'RDM', 'RWB', 'LB', 'LCB', 'CB', 'RCB', 'RB'],
      dtype='object')

In [31]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 17954 entries, 0 to 17953
Data columns (total 88 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   age                            17954 non-null  int64
 1   height_cm                      17954 non-null  float64
 2   weight_kgs                     17954 non-null  float64
 3   positions                      17954 non-null  object
 4   nationality                    17954 non-null  object
 5   overall_rating                 17954 non-null  int64
 6   potential                      17954 non-null  int64
 7   value_euro                     17699 non-null  float64
 8   wage_euro                      17708 non-null  float64
 9   preferred_foot                 17954 non-null  object
 10  international_reputation(1-5)  17954 non-null  int64
 11  weak_foot(1-5)                 17954 non-null  int64
 12  skill_moves(1-5)               17954 non-null  int64
 13  work_rate                      17954 non-null  object
 14  body_type                      17954 non-null  object
 15  release_clause_euro            16117 non-null  float64
 16  club_team                      17940 non-null  object
 17  club_rating                    17940 non-null  float64
 18  club_position                  17940 non-null  object
 19  club_jersey_number             17940 non-null  float64
 20  club_join_date                 16018 non-null  object
 21  contract_end_year              17593 non-null  object
 22  national_team                  857 non-null    object
 23  national_rating                857 non-null    float64
 24  national_team_position         857 non-null    object
 25  national_jersey_number         857 non-null    float64
 26  crossing                       17954 non-null  int64
 27  finishing                      17954 non-null  int64
 28  heading_accuracy               17954 non-null  int64
 29  short_passing                  17954 non-null  int64
 30  volleys                        17954 non-null  int64
 31  dribbling                      17954 non-null  int64
 32  curve                          17954 non-null  int64
 33  freekick_accuracy              17954 non-null  int64
 34  long_passing                   17954 non-null  int64
 35  ball_control                   17954 non-null  int64
 36  acceleration                   17954 non-null  int64
 37  sprint_speed                   17954 non-null  int64
 38  agility                        17954 non-null  int64
 39  reactions                      17954 non-null  int64
 40  balance                        17954 non-null  int64
 41  shot_power                     17954 non-null  int64
 42  jumping                        17954 non-null  int64
 43  stamina                        17954 non-null  int64
 44  strength                       17954 non-null  int64
 45  long_shots                     17954 non-null  int64
 46  aggression                     17954 non-null  int64
 47  interceptions                  17954 non-null  int64
 48  positioning                    17954 non-null  int64
 49  vision                         17954 non-null  int64
 50  penalties                      17954 non-null  int64
 51  composure                      17954 non-null  int64
 52  marking                        17954 non-null  int64
 53  standing_tackle                17954 non-null  int64
 54  sliding_tackle                 17954 non-null  int64
 55  GK_diving                      17954 non-null  int64
 56  GK_handling                    17954 non-null  int64
 57  GK_kicking                     17954 non-null  int64
 58  GK_positioning                 17954 non-null  int64
 59  GK_reflexes                    17954 non-null  int64
 60  tags                           1417 non-null   object
 61  traits                         8137 non-null   object
 62  LS                             15889 non-null  object
 63  ST                             15889 non-null  object
 64  RS                             15889 non-null  object
 65  LW                             15889 non-null  object
 66  LF                             15889 non-null  object
 67  CF                             15889 non-null  object
 68  RF                             15889 non-null  object
 69  RW                             15889 non-null  object
 70  LAM                            15889 non-null  object
 71  CAM                            15889 non-null  object
 72  RAM                            15889 non-null  object
 73  LM                             15889 non-null  object
 74  LCM                            15889 non-null  object
 75  CM                             15889 non-null  object
 76  RCM                            15889 non-null  object
 77  RM                             15889 non-null  object
 78  LWB                            15889 non-null  object
 79  LDM                            15889 non-null  object
 80  CDM                            15889 non-null  object
 81  RDM                            15889 non-null  object
 82  RWB                            15889 non-null  object
 83  LB                             15889 non-null  object
 84  LCB                            15889 non-null  object
 85  CB                             15889 non-null  object
 86  RCB                            15889 non-null  object
 87  RB                             15889 non-null  object
dtypes: float64(9), int64(40), object(39)
memory usage: 12.2+ MB

In [32]:
df['positions']

0         CF,RW,ST
1        CAM,RM,CM
2           CM,CAM
3            LW,ST
4               CB
           ...
17949    RM,CAM,CM
17950           LB
17951           GK
17952        ST,LM
17953           ST
Name: positions, Length: 17954, dtype: object

In [33]:
df.drop(['positions'],axis=1,inplace=True)

In [34]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 17954 entries, 0 to 17953
Data columns (total 87 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   age                            17954 non-null  int64
 1   height_cm                      17954 non-null  float64
 2   weight_kgs                     17954 non-null  float64
 3   nationality                    17954 non-null  object
 4   overall_rating                 17954 non-null  int64
 5   potential                      17954 non-null  int64
 6   value_euro                     17699 non-null  float64
 7   wage_euro                      17708 non-null  float64
 8   preferred_foot                 17954 non-null  object
 9   international_reputation(1-5)  17954 non-null  int64
 10  weak_foot(1-5)                 17954 non-null  int64
 11  skill_moves(1-5)               17954 non-null  int64
 12  work_rate                      17954 non-null  object
 13  body_type                      17954 non-null  object
 14  release_clause_euro            16117 non-null  float64
 15  club_team                      17940 non-null  object
 16  club_rating                    17940 non-null  float64
 17  club_position                  17940 non-null  object
 18  club_jersey_number             17940 non-null  float64
 19  club_join_date                 16018 non-null  object
 20  contract_end_year              17593 non-null  object
 21  national_team                  857 non-null    object
 22  national_rating                857 non-null    float64
 23  national_team_position         857 non-null    object
 24  national_jersey_number         857 non-null    float64
 25  crossing                       17954 non-null  int64
 26  finishing                      17954 non-null  int64
 27  heading_accuracy               17954 non-null  int64
 28  short_passing                  17954 non-null  int64
 29  volleys                        17954 non-null  int64
 30  dribbling                      17954 non-null  int64
 31  curve                          17954 non-null  int64
 32  freekick_accuracy              17954 non-null  int64
 33  long_passing                   17954 non-null  int64
 34  ball_control                   17954 non-null  int64
 35  acceleration                   17954 non-null  int64
 36  sprint_speed                   17954 non-null  int64
 37  agility                        17954 non-null  int64
 38  reactions                      17954 non-null  int64
 39  balance                        17954 non-null  int64
 40  shot_power                     17954 non-null  int64
 41  jumping                        17954 non-null  int64
 42  stamina                        17954 non-null  int64
 43  strength                       17954 non-null  int64
 44  long_shots                     17954 non-null  int64
 45  aggression                     17954 non-null  int64
 46  interceptions                  17954 non-null  int64
 47  positioning                    17954 non-null  int64
 48  vision                         17954 non-null  int64
 49  penalties                      17954 non-null  int64
 50  composure                      17954 non-null  int64
 51  marking                        17954 non-null  int64
 52  standing_tackle                17954 non-null  int64
 53  sliding_tackle                 17954 non-null  int64
 54  GK_diving                      17954 non-null  int64
 55  GK_handling                    17954 non-null  int64
 56  GK_kicking                     17954 non-null  int64
 57  GK_positioning                 17954 non-null  int64
 58  GK_reflexes                    17954 non-null  int64
 59  tags                           1417 non-null   object
 60  traits                         8137 non-null   object
 61  LS                             15889 non-null  object
 62  ST                             15889 non-null  object
 63  RS                             15889 non-null  object
 64  LW                             15889 non-null  object
 65  LF                             15889 non-null  object
 66  CF                             15889 non-null  object
 67  RF                             15889 non-null  object
 68  RW                             15889 non-null  object
 69  LAM                            15889 non-null  object
 70  CAM                            15889 non-null  object
 71  RAM                            15889 non-null  object
 72  LM                             15889 non-null  object
 73  LCM                            15889 non-null  object
 74  CM                             15889 non-null  object
 75  RCM                            15889 non-null  object
 76  RM                             15889 non-null  object
 77  LWB                            15889 non-null  object
 78  LDM                            15889 non-null  object
 79  CDM                            15889 non-null  object
 80  RDM                            15889 non-null  object
 81  RWB                            15889 non-null  object
 82  LB                             15889 non-null  object
 83  LCB                            15889 non-null  object
 84  CB                             15889 non-null  object
 85  RCB                            15889 non-null  object
 86  RB                             15889 non-null  object
dtypes: float64(9), int64(40), object(38)
memory usage: 12.1+ MB

In [35]:
df['nationality']

0           Argentina
1             Denmark
2              France
3               Italy
4             Senegal
             ...
17949        Scotland
17950        Slovakia
17951     Netherlands
17952    Saudi Arabia
17953          Brazil
Name: nationality, Length: 17954, dtype: object

In [36]:
df['nationality'].nunique()

160

In [37]:
df.isna().sum()

age                  0
height_cm            0
weight_kgs           0
nationality          0
overall_rating       0
                  ...
LB                2065
LCB               2065
CB                2065
RCB               2065
RB                2065
Length: 87, dtype: int64

In [38]:
# TO CHECK HOW MANY NUMBERS OF NAN VALUES IN EACH COLUMNS

In [39]:
for i in df.columns:
    a = df[i].isna().sum()
    print(i, a)

age 0
height_cm 0
weight_kgs 0
nationality 0
overall_rating 0
potential 0
value_euro 255
wage_euro 246
preferred_foot 0
international_reputation(1-5) 0
weak_foot(1-5) 0
skill_moves(1-5) 0
work_rate 0
body_type 0
release_clause_euro 1837
club_team 14
club_rating 14
club_position 14
club_jersey_number 14
club_join_date 1936
contract_end_year 361
national_team 17097
national_rating 17097
national_team_position 17097
national_jersey_number 17097
crossing 0
finishing 0
heading_accuracy 0
short_passing 0
volleys 0
dribbling 0
curve 0
freekick_accuracy 0
long_passing 0
ball_control 0
acceleration 0
sprint_speed 0
agility 0
reactions 0
balance 0
shot_power 0
jumping 0
stamina 0
strength 0
long_shots 0
aggression 0
interceptions 0
positioning 0
vision 0
penalties 0
composure 0
marking 0
standing_tackle 0
sliding_tackle 0
GK_diving 0
GK_handling 0
GK_kicking 0
GK_positioning 0
GK_reflexes 0
tags 16537
traits 9817
LS 2065
ST 2065
RS 2065
LW 2065
LF 2065
CF 2065
RF 2065
RW 2065
LAM 2065
CAM 2065
RAM 2065
LM 2065
LCM 2065
CM 2065
RCM 2065
RM 2065
LWB 2065
LDM 2065
CDM 2065
RDM 2065
RWB 2065
LB 2065
LCB 2065
CB 2065
RCB 2065
RB 2065

In [40]:
df.drop(['national_team','national_rating','national_team_position','national_jersey_number','tags','traits'] , axis=1,inplace=True)

In [41]:
df.columns

Index(['age', 'height_cm', 'weight_kgs', 'nationality', 'overall_rating',
       'potential', 'value_euro', 'wage_euro', 'preferred_foot',
       'international_reputation(1-5)', 'weak_foot(1-5)', 'skill_moves(1-5)',
       'work_rate', 'body_type', 'release_clause_euro', 'club_team',
       'club_rating', 'club_position', 'club_jersey_number', 'club_join_date',
       'contract_end_year', 'crossing', 'finishing', 'heading_accuracy',
       'short_passing', 'volleys', 'dribbling', 'curve', 'freekick_accuracy',
       'long_passing', 'ball_control', 'acceleration', 'sprint_speed',
       'agility', 'reactions', 'balance', 'shot_power', 'jumping', 'stamina',
       'strength', 'long_shots', 'aggression', 'interceptions', 'positioning',
       'vision', 'penalties', 'composure', 'marking', 'standing_tackle',
       'sliding_tackle', 'GK_diving', 'GK_handling', 'GK_kicking',
       'GK_positioning', 'GK_reflexes', 'LS', 'ST', 'RS', 'LW', 'LF', 'CF',
       'RF', 'RW', 'LAM', 'CAM', 'RAM', 'LM', 'LCM', 'CM', 'RCM', 'RM', 'LWB',
       'LDM', 'CDM', 'RDM', 'RWB', 'LB', 'LCB', 'CB', 'RCB', 'RB'],
      dtype='object')

In [42]:
df.dropna(inplace=True)

In [43]:
df = df.reset_index(drop=True)

In [44]:
df

,age,height_cm,weight_kgs,nationality,overall_rating,potential,value_euro,wage_euro,preferred_foot,international_reputation(1-5),...,LWB,LDM,CDM,RDM,RWB,LB,LCB,CB,RCB,RB
0,31,170.18,72.1,Argentina,94,94,110500000.0,565000.0,Left,5,...,66,63,63,63,66,61,50,50,50,61
1,27,154.94,76.2,Denmark,88,89,69500000.0,205000.0,Right,3,...,74,74,74,74,74,69,60,60,60,69
2,25,190.50,83.9,France,88,91,73000000.0,255000.0,Right,4,...,79,80,80,80,79,77,75,75,75,77
3,27,162.56,59.0,Italy,88,88,62000000.0,165000.0,Right,3,...,66,61,61,61,66,61,47,47,47,61
4,27,187.96,88.9,Senegal,88,91,60000000.0,135000.0,Right,3,...,76,80,80,80,76,79,88,88,88,79
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14086,28,154.94,73.9,Armenia,67,69,725000.0,2000.0,Right,1,...,61,65,65,65,61,63,68,68,68,63
14087,25,175.26,74.8,Scotland,67,70,975000.0,3000.0,Right,1,...,55,54,54,54,55,52,48,48,48,52
14088,23,182.88,79.8,Slovakia,59,67,190000.0,1000.0,Left,1,...,59,57,57,57,59,59,60,60,60,59
14089,21,175.26,64.9,Saudi Arabia,59,71,280000.0,4000.0,Right,1,...,43,37,37,37,43,41,34,34,34,41
14090,19,190.50,79.8,Brazil,59,75,325000.0,2000.0,Right,1,...,43,42,42,42,43,42,42,42,42,42

In [45]:
dummies=pd.get_dummies(df['nationality'])
dummies

,Afghanistan,Albania,Algeria,Andorra,Angola,Antigua & Barbuda,Argentina,Armenia,Australia,Austria,...,United Arab Emirates,United States,Uruguay,Uzbekistan,Venezuela,Vietnam,Wales,Yemen,Zambia,Zimbabwe
0,0,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14086,0,0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
14087,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
14088,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
14089,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
14090,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [46]:
df=pd.concat([df,dummies],axis=1,)

In [47]:
df

,age,height_cm,weight_kgs,nationality,overall_rating,potential,value_euro,wage_euro,preferred_foot,international_reputation(1-5),...,United Arab Emirates,United States,Uruguay,Uzbekistan,Venezuela,Vietnam,Wales,Yemen,Zambia,Zimbabwe
0,31,170.18,72.1,Argentina,94,94,110500000.0,565000.0,Left,5,...,0,0,0,0,0,0,0,0,0,0
1,27,154.94,76.2,Denmark,88,89,69500000.0,205000.0,Right,3,...,0,0,0,0,0,0,0,0,0,0
2,25,190.50,83.9,France,88,91,73000000.0,255000.0,Right,4,...,0,0,0,0,0,0,0,0,0,0
3,27,162.56,59.0,Italy,88,88,62000000.0,165000.0,Right,3,...,0,0,0,0,0,0,0,0,0,0
4,27,187.96,88.9,Senegal,88,91,60000000.0,135000.0,Right,3,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14086,28,154.94,73.9,Armenia,67,69,725000.0,2000.0,Right,1,...,0,0,0,0,0,0,0,0,0,0
14087,25,175.26,74.8,Scotland,67,70,975000.0,3000.0,Right,1,...,0,0,0,0,0,0,0,0,0,0
14088,23,182.88,79.8,Slovakia,59,67,190000.0,1000.0,Left,1,...,0,0,0,0,0,0,0,0,0,0
14089,21,175.26,64.9,Saudi Arabia,59,71,280000.0,4000.0,Right,1,...,0,0,0,0,0,0,0,0,0,0
14090,19,190.50,79.8,Brazil,59,75,325000.0,2000.0,Right,1,...,0,0,0,0,0,0,0,0,0,0

In [48]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14091 entries, 0 to 14090
Columns: 236 entries, age to Zimbabwe
dtypes: float64(7), int64(40), object(34), uint8(155)
memory usage: 10.8+ MB

In [49]:
dummies1=pd.get_dummies(df['preferred_foot'])
dummies1

       Left  Right
0         1      0
1         0      1
2         0      1
3         0      1
4         0      1
...     ...    ...
14086     0      1
14087     0      1
14088     1      0
14089     0      1
14090     0      1

[14091 rows x 2 columns]

In [50]:
df=pd.concat([df,dummies1],axis=1,)

In [51]:
df.drop(['preferred_foot'],axis=1,inplace=True)

In [52]:
df

,age,height_cm,weight_kgs,nationality,overall_rating,potential,value_euro,wage_euro,international_reputation(1-5),weak_foot(1-5),...,Uruguay,Uzbekistan,Venezuela,Vietnam,Wales,Yemen,Zambia,Zimbabwe,Left,Right
0,31,170.18,72.1,Argentina,94,94,110500000.0,565000.0,5,4,...,0,0,0,0,0,0,0,0,1,0
1,27,154.94,76.2,Denmark,88,89,69500000.0,205000.0,3,5,...,0,0,0,0,0,0,0,0,0,1
2,25,190.50,83.9,France,88,91,73000000.0,255000.0,4,4,...,0,0,0,0,0,0,0,0,0,1
3,27,162.56,59.0,Italy,88,88,62000000.0,165000.0,3,4,...,0,0,0,0,0,0,0,0,0,1
4,27,187.96,88.9,Senegal,88,91,60000000.0,135000.0,3,3,...,0,0,0,0,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14086,28,154.94,73.9,Armenia,67,69,725000.0,2000.0,1,3,...,0,0,0,0,0,0,0,0,0,1
14087,25,175.26,74.8,Scotland,67,70,975000.0,3000.0,1,3,...,0,0,0,0,0,0,0,0,0,1
14088,23,182.88,79.8,Slovakia,59,67,190000.0,1000.0,1,3,...,0,0,0,0,0,0,0,0,1,0
14089,21,175.26,64.9,Saudi Arabia,59,71,280000.0,4000.0,1,4,...,0,0,0,0,0,0,0,0,0,1
14090,19,190.50,79.8,Brazil,59,75,325000.0,2000.0,1,4,...,0,0,0,0,0,0,0,0,0,1

In [53]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14091 entries, 0 to 14090
Columns: 237 entries, age to Right
dtypes: float64(7), int64(40), object(33), uint8(157)
memory usage: 10.7+ MB

In [54]:
import numpy as np

In [55]:
for i in df.columns:
    if np.array(df[i]).dtype == 'object':
        print(i)

nationality
work_rate
body_type
club_team
club_position
club_join_date
contract_end_year
LS
ST
RS
LW
LF
CF
RF
RW
LAM
CAM
RAM
LM
LCM
CM
RCM
RM
LWB
LDM
CDM
RDM
RWB
LB
LCB
CB
RCB
RB

In [56]:
np.array(df['Uruguay']).dtype

dtype('uint8')

In [57]:
df.drop(['nationality'],axis=1,inplace=True)

In [58]:
df['work_rate'].nunique()

9

In [59]:
dummies2=pd.get_dummies(df['work_rate'])
dummies2

,High/ High,High/ Low,High/ Medium,Low/ High,Low/ Low,Low/ Medium,Medium/ High,Medium/ Low,Medium/ Medium
0,0,0,0,0,0,0,0,1,0
1,0,0,1,0,0,0,0,0,0
2,0,0,1,0,0,0,0,0,0
3,0,0,1,0,0,0,0,0,0
4,1,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...
14086,0,0,0,0,0,0,0,0,1
14087,0,0,1,0,0,0,0,0,0
14088,0,0,0,0,0,0,1,0,0
14089,0,0,0,0,0,0,0,1,0
14090,0,0,0,0,0,0,0,0,1

In [60]:
df=pd.concat([df,dummies2],axis=1,)

In [61]:
df

,age,height_cm,weight_kgs,overall_rating,potential,value_euro,wage_euro,international_reputation(1-5),weak_foot(1-5),skill_moves(1-5),...,Right,High/ High,High/ Low,High/ Medium,Low/ High,Low/ Low,Low/ Medium,Medium/ High,Medium/ Low,Medium/ Medium
0,31,170.18,72.1,94,94,110500000.0,565000.0,5,4,4,...,0,0,0,0,0,0,0,0,1,0
1,27,154.94,76.2,88,89,69500000.0,205000.0,3,5,4,...,1,0,0,1,0,0,0,0,0,0
2,25,190.50,83.9,88,91,73000000.0,255000.0,4,4,5,...,1,0,0,1,0,0,0,0,0,0
3,27,162.56,59.0,88,88,62000000.0,165000.0,3,4,4,...,1,0,0,1,0,0,0,0,0,0
4,27,187.96,88.9,88,91,60000000.0,135000.0,3,3,2,...,1,1,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14086,28,154.94,73.9,67,69,725000.0,2000.0,1,3,2,...,1,0,0,0,0,0,0,0,0,1
14087,25,175.26,74.8,67,70,975000.0,3000.0,1,3,3,...,1,0,0,1,0,0,0,0,0,0
14088,23,182.88,79.8,59,67,190000.0,1000.0,1,3,2,...,0,0,0,0,0,0,0,1,0,0
14089,21,175.26,64.9,59,71,280000.0,4000.0,1,4,3,...,1,0,0,0,0,0,0,0,1,0
14090,19,190.50,79.8,59,75,325000.0,2000.0,1,4,2,...,1,0,0,0,0,0,0,0,0,1

In [62]:
df['body_type'].nunique()

9

In [63]:
dummies3=pd.get_dummies(df['body_type'])
dummies3

,Akinfenwa,C. Ronaldo,Lean,Messi,Neymar,Normal,PLAYER_BODY_TYPE_25,Shaqiri,Stocky
0,0,0,0,1,0,0,0,0,0
1,0,0,1,0,0,0,0,0,0
2,0,0,0,0,0,1,0,0,0
3,0,0,0,0,0,1,0,0,0
4,0,0,0,0,0,1,0,0,0
...,...,...,...,...,...,...,...,...,...
14086,0,0,0,0,0,1,0,0,0
14087,0,0,0,0,0,1,0,0,0
14088,0,0,0,0,0,1,0,0,0
14089,0,0,1,0,0,0,0,0,0
14090,0,0,0,0,0,1,0,0,0

In [64]:
df=pd.concat([df,dummies3],axis=1,)

In [65]:
df['club_team'].nunique()

651

In [66]:
dummies4=pd.get_dummies(df['club_team'])
dummies4

,1. FC Heidenheim 1846,1. FC Kaiserslautern,1. FC Köln,1. FC Magdeburg,1. FC Nürnberg,1. FC Union Berlin,1. FSV Mainz 05,AC Ajaccio,AC Horsens,AD Alcorcón,...,Wycombe Wanderers,Yeni Malatyaspor,Yeovil Town,Yokohama F. Marinos,Zagłębie Lubin,Zagłębie Sosnowiec,Çaykur Rizespor,Örebro SK,Östersunds FK,Śląsk Wrocław
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14086,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
14087,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
14088,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
14089,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
14090,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [67]:
df

,age,height_cm,weight_kgs,overall_rating,potential,value_euro,wage_euro,international_reputation(1-5),weak_foot(1-5),skill_moves(1-5),...,Medium/ Medium,Akinfenwa,C. Ronaldo,Lean,Messi,Neymar,Normal,PLAYER_BODY_TYPE_25,Shaqiri,Stocky
0,31,170.18,72.1,94,94,110500000.0,565000.0,5,4,4,...,0,0,0,0,1,0,0,0,0,0
1,27,154.94,76.2,88,89,69500000.0,205000.0,3,5,4,...,0,0,0,1,0,0,0,0,0,0
2,25,190.50,83.9,88,91,73000000.0,255000.0,4,4,5,...,0,0,0,0,0,0,1,0,0,0
3,27,162.56,59.0,88,88,62000000.0,165000.0,3,4,4,...,0,0,0,0,0,0,1,0,0,0
4,27,187.96,88.9,88,91,60000000.0,135000.0,3,3,2,...,0,0,0,0,0,0,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14086,28,154.94,73.9,67,69,725000.0,2000.0,1,3,2,...,1,0,0,0,0,0,1,0,0,0
14087,25,175.26,74.8,67,70,975000.0,3000.0,1,3,3,...,0,0,0,0,0,0,1,0,0,0
14088,23,182.88,79.8,59,67,190000.0,1000.0,1,3,2,...,0,0,0,0,0,0,1,0,0,0
14089,21,175.26,64.9,59,71,280000.0,4000.0,1,4,3,...,0,0,0,1,0,0,0,0,0,0
14090,19,190.50,79.8,59,75,325000.0,2000.0,1,4,2,...,1,0,0,0,0,0,1,0,0,0

In [68]:
df['club_position'].nunique()

28

In [69]:
dummies5=pd.get_dummies(df['club_position'])
dummies5

,CAM,CB,CDM,CF,CM,LAM,LB,LCB,LCM,LDM,...,RCM,RDM,RES,RF,RM,RS,RW,RWB,ST,SUB
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
1,0,0,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14086,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
14087,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
14088,0,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
14089,0,0,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
14090,0,0,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0

In [70]:
df['club_join_date'].nunique()

1626

In [71]:
dummies6=pd.get_dummies(df['club_join_date'])
dummies6

,1998-07-01,2001-01-02,2002-01-01,2002-07-01,2002-08-01,2003-01-01,2003-07-01,2004-01-01,2004-07-01,2004-08-01,...,2019-02-17,2019-02-18,2019-02-19,2019-02-20,2019-02-21,2019-02-22,2019-02-23,2019-02-24,2019-02-25,2019-02-26
0,0,0,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14086,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
14087,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
14088,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
14089,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
14090,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [72]:
df['contract_end_year'].nunique()

8

In [73]:
dummies7=pd.get_dummies(df['contract_end_year'])
dummies7

       2019  2020  2021  2022  2023  2024  2025  2026
0         0     0     1     0     0     0     0     0
1         0     1     0     0     0     0     0     0
2         0     0     1     0     0     0     0     0
3         0     0     0     1     0     0     0     0
4         0     0     1     0     0     0     0     0
...     ...   ...   ...   ...   ...   ...   ...   ...
14086     0     0     1     0     0     0     0     0
14087     0     1     0     0     0     0     0     0
14088     0     0     0     0     1     0     0     0
14089     0     1     0     0     0     0     0     0
14090     0     0     1     0     0     0     0     0

[14091 rows x 8 columns]

In [74]:
df

,age,height_cm,weight_kgs,overall_rating,potential,value_euro,wage_euro,international_reputation(1-5),weak_foot(1-5),skill_moves(1-5),...,Medium/ Medium,Akinfenwa,C. Ronaldo,Lean,Messi,Neymar,Normal,PLAYER_BODY_TYPE_25,Shaqiri,Stocky
0,31,170.18,72.1,94,94,110500000.0,565000.0,5,4,4,...,0,0,0,0,1,0,0,0,0,0
1,27,154.94,76.2,88,89,69500000.0,205000.0,3,5,4,...,0,0,0,1,0,0,0,0,0,0
2,25,190.50,83.9,88,91,73000000.0,255000.0,4,4,5,...,0,0,0,0,0,0,1,0,0,0
3,27,162.56,59.0,88,88,62000000.0,165000.0,3,4,4,...,0,0,0,0,0,0,1,0,0,0
4,27,187.96,88.9,88,91,60000000.0,135000.0,3,3,2,...,0,0,0,0,0,0,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14086,28,154.94,73.9,67,69,725000.0,2000.0,1,3,2,...,1,0,0,0,0,0,1,0,0,0
14087,25,175.26,74.8,67,70,975000.0,3000.0,1,3,3,...,0,0,0,0,0,0,1,0,0,0
14088,23,182.88,79.8,59,67,190000.0,1000.0,1,3,2,...,0,0,0,0,0,0,1,0,0,0
14089,21,175.26,64.9,59,71,280000.0,4000.0,1,4,3,...,0,0,0,1,0,0,0,0,0,0
14090,19,190.50,79.8,59,75,325000.0,2000.0,1,4,2,...,1,0,0,0,0,0,1,0,0,0

In [75]:
df.drop(['work_rate','body_type','club_team','club_position','club_join_date','contract_end_year'],axis=1,inplace=True)

In [76]:
df.columns

Index(['age', 'height_cm', 'weight_kgs', 'overall_rating', 'potential',
       'value_euro', 'wage_euro', 'international_reputation(1-5)',
       'weak_foot(1-5)', 'skill_moves(1-5)',
       ...
       'Medium/ Medium', 'Akinfenwa', 'C. Ronaldo', 'Lean', 'Messi', 'Neymar',
       'Normal', 'PLAYER_BODY_TYPE_25', 'Shaqiri', 'Stocky'],
      dtype='object', length=248)

In [77]:
df

,age,height_cm,weight_kgs,overall_rating,potential,value_euro,wage_euro,international_reputation(1-5),weak_foot(1-5),skill_moves(1-5),...,Medium/ Medium,Akinfenwa,C. Ronaldo,Lean,Messi,Neymar,Normal,PLAYER_BODY_TYPE_25,Shaqiri,Stocky
0,31,170.18,72.1,94,94,110500000.0,565000.0,5,4,4,...,0,0,0,0,1,0,0,0,0,0
1,27,154.94,76.2,88,89,69500000.0,205000.0,3,5,4,...,0,0,0,1,0,0,0,0,0,0
2,25,190.50,83.9,88,91,73000000.0,255000.0,4,4,5,...,0,0,0,0,0,0,1,0,0,0
3,27,162.56,59.0,88,88,62000000.0,165000.0,3,4,4,...,0,0,0,0,0,0,1,0,0,0
4,27,187.96,88.9,88,91,60000000.0,135000.0,3,3,2,...,0,0,0,0,0,0,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14086,28,154.94,73.9,67,69,725000.0,2000.0,1,3,2,...,1,0,0,0,0,0,1,0,0,0
14087,25,175.26,74.8,67,70,975000.0,3000.0,1,3,3,...,0,0,0,0,0,0,1,0,0,0
14088,23,182.88,79.8,59,67,190000.0,1000.0,1,3,2,...,0,0,0,0,0,0,1,0,0,0
14089,21,175.26,64.9,59,71,280000.0,4000.0,1,4,3,...,0,0,0,1,0,0,0,0,0,0
14090,19,190.50,79.8,59,75,325000.0,2000.0,1,4,2,...,1,0,0,0,0,0,1,0,0,0

In [78]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14091 entries, 0 to 14090
Columns: 248 entries, age to Stocky
dtypes: float64(7), int64(40), object(26), uint8(175)
memory usage: 10.2+ MB

In [79]:
df.columns

Index(['age', 'height_cm', 'weight_kgs', 'overall_rating', 'potential',
       'value_euro', 'wage_euro', 'international_reputation(1-5)',
       'weak_foot(1-5)', 'skill_moves(1-5)',
       ...
       'Medium/ Medium', 'Akinfenwa', 'C. Ronaldo', 'Lean', 'Messi', 'Neymar',
       'Normal', 'PLAYER_BODY_TYPE_25', 'Shaqiri', 'Stocky'],
      dtype='object', length=248)

In [80]:
print(df.dtypes)

age                      int64
height_cm              float64
weight_kgs             float64
overall_rating           int64
potential                int64
                        ...
Neymar                   uint8
Normal                   uint8
PLAYER_BODY_TYPE_25      uint8
Shaqiri                  uint8
Stocky                   uint8
Length: 248, dtype: object

In [81]:
df['LS']

0        89+2
1        79+3
2        81+3
3        78+3
4        53+3
         ...
14086    46+2
14087    62+2
14088    43+2
14089    58+2
14090    57+2
Name: LS, Length: 14091, dtype: object

In [82]:
from tqdm import tqdm
for i in tqdm(range(len(df))):
    if type(df['LS'][i]) != float:
        a = df['LS'][i].split('+')
        sums = 0
        for j in a:
            sums = sums + int(j)
        df['LS'][i] = sums

  0%|                                                                                        | 0/14091 [00:00<?, ?it/s]C:\Users\khany\AppData\Local\Temp\ipykernel_15712\3254932227.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['LS'][i] = sums
100%|███████████████████████████████████████████████████████████████████████████| 14091/14091 [00:20<00:00, 693.59it/s]

In [83]:
df['LS'] = df['LS'].astype(int)

In [84]:
def x(col):
    for i in tqdm(range(len(df))):
        if type(df[col][i]) != float:
            a = df[col][i].split('+')
            sums = 0
            for j in a:
                sums = sums + int(j)
            df[col][i] = sums
    df[col] = df[col].astype(int)

In [85]:
x('ST')

  0%|                                                                                        | 0/14091 [00:00<?, ?it/s]C:\Users\khany\AppData\Local\Temp\ipykernel_15712\2282404136.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[col][i] = sums
100%|███████████████████████████████████████████████████████████████████████████| 14091/14091 [00:22<00:00, 633.98it/s]

In [86]:
x('RS')

  0%|                                                                                        | 0/14091 [00:00<?, ?it/s]C:\Users\khany\AppData\Local\Temp\ipykernel_15712\2282404136.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[col][i] = sums
100%|███████████████████████████████████████████████████████████████████████████| 14091/14091 [00:20<00:00, 689.56it/s]

In [87]:
l=['LW','LF','CF','RF','RW','LAM','CAM','RAM','LM']

In [88]:
for i in l:
    x(i)
    print(f'{i} completed')

  0%|                                                                                        | 0/14091 [00:00<?, ?it/s]C:\Users\khany\AppData\Local\Temp\ipykernel_15712\2282404136.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[col][i] = sums
100%|███████████████████████████████████████████████████████████████████████████| 14091/14091 [00:20<00:00, 675.76it/s]

LW completed

100%|███████████████████████████████████████████████████████████████████████████| 14091/14091 [00:20<00:00, 690.06it/s]

LF completed

100%|███████████████████████████████████████████████████████████████████████████| 14091/14091 [00:20<00:00, 680.95it/s]

CF completed

100%|███████████████████████████████████████████████████████████████████████████| 14091/14091 [00:21<00:00, 661.95it/s]

RF completed

100%|███████████████████████████████████████████████████████████████████████████| 14091/14091 [00:20<00:00, 681.78it/s]

RW completed

100%|███████████████████████████████████████████████████████████████████████████| 14091/14091 [00:20<00:00, 694.76it/s]

LAM completed

100%|███████████████████████████████████████████████████████████████████████████| 14091/14091 [00:20<00:00, 687.92it/s]

CAM completed

100%|███████████████████████████████████████████████████████████████████████████| 14091/14091 [00:20<00:00, 686.73it/s]

RAM completed

100%|███████████████████████████████████████████████████████████████████████████| 14091/14091 [00:20<00:00, 678.62it/s]

LM completed

In [89]:
for i in df.columns:
    if np.array(df[i]).dtype == 'object':
        print(i)
    else:
        print('None')

None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
LCM
CM
RCM
RM
LWB
LDM
CDM
RDM
RWB
LB
LCB
CB
RCB
RB
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None

In [90]:
x('LCM')
x('CM')
x('RCM')
x('RM')

  0%|                                                                                        | 0/14091 [00:00<?, ?it/s]C:\Users\khany\AppData\Local\Temp\ipykernel_15712\2282404136.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[col][i] = sums
100%|███████████████████████████████████████████████████████████████████████████| 14091/14091 [00:21<00:00, 656.74it/s]
100%|███████████████████████████████████████████████████████████████████████████| 14091/14091 [00:20<00:00, 694.75it/s]
100%|███████████████████████████████████████████████████████████████████████████| 14091/14091 [00:22<00:00, 622.98it/s]
100%|███████████████████████████████████████████████████████████████████████████| 14091/14091 [00:21<00:00, 658.72it/s]

In [91]:
v=['LWB','LDM','CDM','RDM','RWB','LB','LCB','CB','RCB','RB']
for i in v:
    df[i]=df[i].astype(int)
    print

In [92]:
df

,age,height_cm,weight_kgs,overall_rating,potential,value_euro,wage_euro,international_reputation(1-5),weak_foot(1-5),skill_moves(1-5),...,Medium/ Medium,Akinfenwa,C. Ronaldo,Lean,Messi,Neymar,Normal,PLAYER_BODY_TYPE_25,Shaqiri,Stocky
0,31,170.18,72.1,94,94,110500000.0,565000.0,5,4,4,...,0,0,0,0,1,0,0,0,0,0
1,27,154.94,76.2,88,89,69500000.0,205000.0,3,5,4,...,0,0,0,1,0,0,0,0,0,0
2,25,190.50,83.9,88,91,73000000.0,255000.0,4,4,5,...,0,0,0,0,0,0,1,0,0,0
3,27,162.56,59.0,88,88,62000000.0,165000.0,3,4,4,...,0,0,0,0,0,0,1,0,0,0
4,27,187.96,88.9,88,91,60000000.0,135000.0,3,3,2,...,0,0,0,0,0,0,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14086,28,154.94,73.9,67,69,725000.0,2000.0,1,3,2,...,1,0,0,0,0,0,1,0,0,0
14087,25,175.26,74.8,67,70,975000.0,3000.0,1,3,3,...,0,0,0,0,0,0,1,0,0,0
14088,23,182.88,79.8,59,67,190000.0,1000.0,1,3,2,...,0,0,0,0,0,0,1,0,0,0
14089,21,175.26,64.9,59,71,280000.0,4000.0,1,4,3,...,0,0,0,1,0,0,0,0,0,0
14090,19,190.50,79.8,59,75,325000.0,2000.0,1,4,2,...,1,0,0,0,0,0,1,0,0,0

In [93]:
df.isnull().sum()

age                    0
height_cm              0
weight_kgs             0
overall_rating         0
potential              0
                      ..
Neymar                 0
Normal                 0
PLAYER_BODY_TYPE_25    0
Shaqiri                0
Stocky                 0
Length: 248, dtype: int64

In [94]:
                 # MACHINE LEARNING

In [128]:
x=df.drop('value_euro', axis = 1)
y=df['value_euro']

In [129]:
from sklearn.model_selection import train_test_split as tts

In [130]:
x_train,x_test,y_train,y_test=tts(x,y,test_size=0.2, random_state=40)

In [131]:
from sklearn.preprocessing import StandardScaler

In [132]:
scaler=StandardScaler()

In [133]:
x_train_scaled=scaler.fit_transform(x_train)
x_test_scaled=scaler.transform(x_test)

In [134]:
from sklearn.linear_model import LinearRegression

In [135]:
lr=LinearRegression()

In [136]:
lr.fit(x_train_scaled,y_train)

LinearRegression()

In [137]:
y_pred=lr.predict(x_test_scaled)

In [138]:
from sklearn.metrics import mean_squared_error,r2_score

In [139]:
print(mean_squared_error(y_test,y_pred))

2.8335759769798626e+31

In [140]:
print(r2_score(y_test,y_pred))

-8.396054568590305e+17

In [141]:

from sklearn.ensemble import RandomForestRegressor

In [142]:
rf=RandomForestRegressor()

In [143]:
rf.fit(x_train_scaled,y_train)

RandomForestRegressor()

In [144]:
y_pred1=rf.predict(x_test_scaled)

In [145]:
print(mean_squared_error(y_test,y_pred1))

429918744929.05286

In [146]:
print(r2_score(y_test,y_pred1))

0.987261251253508

In [147]:

from sklearn.neighbors import KNeighborsRegressor

In [148]:
knn=KNeighborsRegressor()

In [149]:
knn.fit(x_train_scaled,y_train)

KNeighborsRegressor()

In [150]:
y_pred2=knn.predict(x_test_scaled)

In [151]:
print(mean_squared_error(y_test,y_pred2))

6766334485633.203

In [152]:
print(r2_score(y_test,y_pred2))

0.7995094748394158

In [153]:
pip install xgboost

Requirement already satisfied: xgboost in c:\users\khany\anaconda3\anaconda new version\lib\site-packages (1.7.5)
Requirement already satisfied: scipy in c:\users\khany\anaconda3\anaconda new version\lib\site-packages (from xgboost) (1.9.1)
Requirement already satisfied: numpy in c:\users\khany\anaconda3\anaconda new version\lib\site-packages (from xgboost) (1.23.5)
Note: you may need to restart the kernel to use updated packages.

In [154]:
from xgboost import XGBRegressor

In [155]:
model = XGBRegressor()

In [156]:
model.fit(x_train_scaled,y_train)

XGBRegressor(base_score=None, booster=None, callbacks=None,
             colsample_bylevel=None, colsample_bynode=None,
             colsample_bytree=None, early_stopping_rounds=None,
             enable_categorical=False, eval_metric=None, feature_types=None,
             gamma=None, gpu_id=None, grow_policy=None, importance_type=None,
             interaction_constraints=None, learning_rate=None, max_bin=None,
             max_cat_threshold=None, max_cat_to_onehot=None,
             max_delta_step=None, max_depth=None, max_leaves=None,
             min_child_weight=None, missing=nan, monotone_constraints=None,
             n_estimators=100, n_jobs=None, num_parallel_tree=None,
             predictor=None, random_state=None, ...)

In [157]:
y_pred3=model.predict(x_test_scaled)

In [158]:
print(mean_squared_error(y_test,y_pred3))

252263768416.58868

In [159]:
print(r2_score(y_test,y_pred3))

0.9925252741323655

In [3]:
import tensorflow.keras
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense, Dropout
from tensorflow.keras.optimizers import RMSprop
from sklearn.neural_network import MLPRegressor

In [4]:
model1=MLPRegressor()

In [5]:
model1.fit(x_train_scaled,y_train)

NameError: name 'x_train_scaled' is not defined

In [161]:
import pickle
with open('best_model.pkl', 'wb') as f:
    pickle.dump(model, f)

In [162]:
with open('best_model.pkl', 'rb') as f:
    pickle.load(f)

In [ ]:
f.predict([[]])